<div class="min-h-screen flex items-center justify-center">
    <div class="w-96 mx-auto p-6 bg-white rounded-lg shadow-md">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
            Crea un nuovo account
      </h1>
      <form class="max-w-sm mx-auto" [formGroup]="signupForm" (ngSubmit)="handleSignup()">
        <div class="mb-5">
          <label
            for="text"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Username</label
          >
          <input
            type="text"
            formControlName="user"
            id="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
          />
          @if(submitted && signupForm.controls.user.errors){
            @if(signupForm.controls.user.errors['required']){
              <p class="form-error">Username richiesto</p>
            }
          }
        </div>
        <div class="mb-5">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            formControlName="pass"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
          />
          @if(submitted && signupForm.controls.pass.errors){
            @if(signupForm.controls.pass.errors['required']){
              <p class="form-error">Password richiesta</p>
            }
            @if(signupForm.controls.pass.errors['minlength']){
              <p class="form-error">La password deve contenere almeno 4 caratteri</p>
            }
          }
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
          Conferma
        </button>
        <p class="text-sm font-medium text-gray-500 mt-5">
            Hai gia' un account? <a routerLink="/login" class="link">Login</a>
        </p>
      </form>
    </div>
</div>