<div class="min-h-screen flex items-center justify-center">
    <div class="w-96 mx-auto p-6 bg-white rounded-lg shadow-md">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-5">
            Accedi
      </h1>
      <form class="max-w-sm mx-auto" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="mb-5">
          <label
            for="text"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Username</label
          >
          <input
            type="text"
            formControlName="user"
            id="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
          @if(submitted && loginForm.controls.user.errors){
            @if(loginForm.controls.user.errors['required']){
              <p class="form-error">Username richiesto</p>
            }
          }
        </div>
        <div class="mb-5">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label
          >
          <input
            type="password"
            formControlName="pass"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
          @if(submitted && loginForm.controls.pass.errors){
            @if(loginForm.controls.pass.errors['required']){
              <p class="form-error">Password richiesta</p>
            }
            @if(loginForm.controls.pass.errors['minlength']){
              <p class="form-error">La password deve contenere almeno 4 caratteri</p>
            }
          }
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Conferma
        </button>
        <p class="text-sm font-medium text-gray-500 dark:text-gray-400 mt-5">
            Non hai ancora un account? <a routerLink="/signup" class="link">Registrati</a>
        </p>
      </form>
    </div>
</div>